
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin:0;
}

.page-wrapper {
  width:calc(100% - 40px);
  max-width:375px;
  margin:auto;
}

.jumbotron {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #ffffff;
  margin: auto;
  padding: 0px;
  text-align: center;
  border-bottom:1px solid rgb(180, 180, 180);
  margin-bottom:25px;
}

h1.jumbotron-heading {
  margin:25px 0px 25px 0px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size:40px;
  font-weight: bold;
  color: #121212;
  text-decoration: none;
}

.jumbotron-heading a:hover {
  text-decoration: none;
  color: rgb(86, 86, 86);
}

#story_column.column {
  border-bottom:1px solid rgb(180, 180, 180);
  padding-bottom:25px;
  
}

.column {
  margin-bottom:25px;
}

/* Parent Container */
.link{
  position: relative;
  filter:grayscale(255)!important;
  margin-top:15px;
  margin-bottom:15px;
  text-decoration:none!important;
  position:relative;
 
}
.link p {
  margin-top:1px;
  margin-bottom:none;
  text-transform:uppercase;
  font-size:9px;
  color:rgb(161, 161, 161);
}

.link a {
  margin-bottom:5px;
  line-height:18px;
  font-size:16px;
  text-decoration:none!important;
  color:#121212;
  font-weight:700!important;
}

.link a:hover {
  color:rgb(133, 133, 133);
}

h2.about {
  color: black;
  font-size: 16px;
  font-weight:100;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align:left;
  line-height: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

pre {
  color: gray;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2.about a {
  color: black;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-decoration: none;
  text-transform:uppercase;
}

h2.about a:hover {
  text-decoration: none;
  color: gray;
}

.section-header {
  text-align: left;
  font-weight: 200;
  margin-bottom: 50px;
  margin-top: 50px;
}

.album {
  background-color: #ffffff;
}


.container2 {
  margin: auto;
  margin-top: 30px;
  padding: 0 10px 0 10px;
}


.bio-text {
  font-weight: 300;
  color: rgb(83, 83, 83);
  line-height:1.3;
  font-size:16px;
  margin-top:0px;
}

.bio-text a {
  color: gray;
  text-decoration: none;
}

.bio-text a:hover {
  text-decoration: none;
  color: rgb(173, 173, 173);
}

.subhead {
  line-height: 18px;
  margin-top: 100px;
}

.subhead a {
  color: gray;
  font-weight: lighter;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
}


/* Create four equal columns that sits next to each other */
.column {
  flex: 100%;
}

