.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 30px;
  padding-bottom: 0px;
}

.button-group{
  margin: auto;
  width: 100%;
  align-items: center;
}
.button {
  padding: 5px 10px 5px 10px;
  background-color: #e7e7e7;
  border-color: white;
  border-width: 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 33%;
  float: left;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #ffffff; /* Green */
  color: white;
  border-color: black;
  border-width: 1px;
}

.button a {
  color: black;
}

.button a:hover {
  text-decoration: none;
  font-weight: bold;
}

.jumbotron-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.jumbotron .container {
  max-width: 500px;
  text-align: left;
}

.jumbotron p {
  max-width: 100%;
}

.jumbotron a {
  color: #1E9476;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.album {
  background-color: #f7f7f7;
}

.album .container {
  max-width: 500px;
}

.card {
  border: 0;
  margin-bottom:30px;
  margin-top: 30px;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card a {
  color: black;
}


.card-text {
  font-size: 85%;
}

.subhead {
  font-weight: lighter;
  line-height: 18px
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
