@media only screen and (max-width: 600px) {
  
.overlay2 h5 {
  font-size: 14px;
}

#explainer{
  margin-top: 50px;
}

.image5 {
  max-height: 500px
}


p {
  font-size: 12px;
}

.overlay2 {
  float: left;
  height: 100%;
  width: 100%!important;
}

.image {
  display: block;
  width: 100%!important;
  margin-bottom: 10px!important;
}

h3.about {
  font-size: 14px!important;
}

/*.button-group {
  margin: auto;
  margin-bottom: 20px!important;
}

button.button {
  background-color: white!important;
  font-weight: normal;
  margin-right: 10px;
  border-radius: 2px!important;
  padding: 3px 10px!important;
  margin-bottom: 5px!important;
  border: 1px solid lightgray!important;
  font-size: 12px;
}

button#income {
  font-size: 12px;
}*/


}

.art {
  background-color:#2c2c2c;
  margin-top:20px;
}

.art_header {
  font-weight: bold;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 28px;
  color: black;
  border: none;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h2.about {
  color: gray;
  font-size: 18px;
  font-weight:300;
  margin: auto;
  max-width: 600px;
  text-align:left;
}

h2#about.about {
  text-align:center;
}

h2.about:last-of-type {
  margin-bottom: 25px;
}

.overlay2 h5 {
  font-weight: medium;
}

hr {
  border-top: 2px solid rgba(0,0,0,.1);
}

h2.about a {
  color: gray;
  font-weight: bold;
  font-size: 18px;
}

h2.about a:hover {
  text-decoration: none;
  color: gray;
}

.section-header {
  text-align: left;
  font-weight: 200;
  margin-bottom: 50px;
  margin-top: 50px;
}

.jumbotron2 {
  width: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  max-width: 800px;
  border-bottom: 2px solid #000000;
  margin: auto;
  margin-bottom: 50px;
  padding: 0px;
  text-align: center;
  margin-top:25px;
  padding-bottom:25px;
}

h1.jumbotron-heading {
    margin-bottom: 25px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.jumbotron-heading a {
  font-weight: bold;
  color: white;
  margin-top: 25px;
}

.jumbotron-heading a:hover {
  text-decoration: none;
  color: gray;
}

.jumbotron p {
  max-width: 100%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.album {
  background-color: #ffffff;
}

.container {
  width: 90%;
  max-width: 1000px;
}

footer p {
  color: gray;
}

.float-right a{
  color: gray;
  font-weight: bold;
}

.float-right a:hover{
  color: lightgray;
  text-decoration: none;
  
}


.container2 {
  width: 95%;
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
}

.example {
  position: relative;
  /*width: 50%;*/
}

.image {
  display: block;
  width: 60%;
  margin-left: 0%;
  height: auto;
  margin-bottom: 20px;
  float: left;
  
}

.image3 {
  width: 60%;
  margin-left: 0%;
  height: auto;
  margin-bottom: 20px;
  float: left;
  
}

.image_hp {
  padding: 5px!important;
  border: 1px solid lightgray!important;
}

.image2 {
  display: block;
  width: 100%;
  margin-left: 0%;
  height: auto;
  margin-bottom: 10px;
}

.image5 {
  display:block;
  max-width:600px;
  max-height: 500px;
  margin:auto;
  margin-bottom:2px;
  border:5px black solid
}

.art_figure {
  margin:auto;
  margin-left:0px;
  margin-bottom: 20px;
  color: gray;
  text-align:center;
  font-size:12px;
}

.example .image:hover {
  opacity: 0.70;
}

.image_hp:hover {
  opacity: 0.70;
}

/*.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}*/

.overlay2 {
  position: relative;
  float: right;
  /*height: 100%;*/
  width: 37%;
}

.overlay2 a:hover{
  text-decoration: underline;
}

.overlay2 a {
  color: black;
}


.card {
  border: 0;
  margin-bottom:30px;
  margin-top: 30px;
}

/*


.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  -webkit-filter: brightness(100%);
}

.card img:hover {
    -webkit-filter: brightness(20%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.card a {
  color: black;
}*/


.card-text {
  font-weight: 300;
  font-size: 14px;
  color: gray;
}

.card-text2 {
  font-weight: 300;
  color: black;
}

.card-text2 a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.card-text2 a:hover {
  text-decoration: none;
  color: gray;
}

.subhead {
  line-height: 18px;
  margin-top: 100px;
}

.subhead a {
  color: gray;
  font-weight: lighter;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 95%;
  margin: auto;
}

.column_art{
  flex: 33%;
  max-width: 33%;
  padding: 0 10px 0 10px;
}

.column_art img {
  margin-bottom: 3px;
  vertical-align: middle;
  width: 100%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 10px 0 10px;
}

.column img {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column_art {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .column_art {
    flex: 100%;
    max-width: 100%;
  }
}
