.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background-color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.button-group{
  margin: auto;
  width: 100%;
  align-items: center;
}
.button {
  padding: 5px 10px 5px 10px;
  background-color: #e7e7e7;
  border-color: white;
  border-width: 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 33%;
  float: left;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #ffffff; /* Green */
  color: white;
}

.button a {
  color: black;
}

.button a:hover {
  text-decoration: none;
}

.jumbotron-heading {
  font-weight: bold;
  margin-bottom: 15px;
}

.jumbotron .container {
  max-width: 500px;
  text-align: left;
}

.jumbotron p {
  max-width: 100%;
}

.self {
  max-width: 100%;
  margin-bottom: 10px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}
.intro-text {
  margin-top: 15px;
}

.album {
  background-color: #f7f7f7;
}

.album .container {
  max-width: 500px;
}

.card {
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  height: 350px;
}

.card img {
  margin-bottom: 10px;
  height: 275px;
  width: 100%;
}

.card > a {
  margin-bottom: .75rem;
  height: 275px;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
