.mapboxgl-ctrl-geocoder{
	width:95%!important;
	background-color: darkgray!important;
	border: 1px white solid!important;
	color: #000000!important;
	margin: auto;
	margin-top:15px;
	margin-bottom: 20px;
	max-width: 90%!important;
}

.opening {
	margin-bottom:200px;
}


.mapboxgl-popup-content {
  padding: 0;
  width: 200px;
  background:#262626!important;
  border: 1px solid gray;
  box-shadow: 3px 3px 2px #000000;
  height:250px;
  overflow:scroll;
}

.mapboxgl-popup-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.mapboxgl-popup-content {
  -ms-overflow-style: none;
}

div.ui-selectmenu-menu.ui-front.ui-selectmenu-open {
	bottom:90px!important;
	top:auto!important;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #262626!important;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #262626!important;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #262626!important;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #262626!important;
    }

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  color: #C4C4C4;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  margin-top: -5px;
  margin-bottom:5px;
  font-size:14px;
  text-align:center;
  font-weight:normal;
}

button.mapboxgl-popup-close-button {
	color:gray;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 0px;
  font-size:16px;
  text-align:center;
  margin-bottom:8px;
  font-weight:bold;
  color:white;
}

.mapboxgl-popup-content h5 {
	font-size:12px;
	text-align:center;
	margin: 0;
  display: block;
  padding: 0px;
  color:#7D7D7D;
  font-weight:normal;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
}

.left_side{
	width:33%;
	display:block;
	float:left;
	background-color:#262626;
	height:100%;
	position: fixed;
	top:0px;
	left:0px;
	overflow:scroll;
	-ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left_side::-webkit-scrollbar {
  display: none;
}

p.info {
	color: gray;
	text-align: center;
	font-size: 10px;
	margin-top:25px;
}

.box2 {
	width:90%;
	margin:auto;
}

.information {
	width: 95%;
	margin: auto;
}

.data_wrap {
	margin-bottom: 25px;
}


body {
	font-family: Helvetica, serif;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	flex:12;
	height:100vh;
	background-color:black;
}

.mapboxgl-ctrl-geocoder input[type='text']{
	color:black!important;
	font-size:16px!important;
}

input {
	color:white!important;
}

.indicators {
	list-style-type: none;
}

.indicators li {
	color: white;
	margin: 5px;
}

button.landmark {
	background-color:black;
	color:gray;
	margin-top: 5px;
	margin-left: 5px;
}

.button-group {
	width:95%;
	margin-left: 10px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color:white;
}

h1.text a {
	color:#B7BDBB;
}

h1.text a:hover {
	text-decoration: none;
	color:white;
}

a.mapboxgl-ctrl-logo{
	margin-bottom:90px!important;
}

#menu {
	width:67%;
	position: absolute;
	bottom:0;
	margin-left:33%;
	margin-top:10px;
	background-color:black;/*#141414*/
	border-left:5px black solid;
	height:90px;
}

h1.next_button {
	padding:10px;
	border:1px solid gray;
	text-align:center;
	margin:auto;
	width:70px;
	font-size:14px;
	color:white;
	margin-top:100px;
	margin-bottom:20px;
}

.display_buttons a {
	font-size: 13px;
	color:rgba(255,255,255,0.4);
	margin:auto;
	margin-bottom:5px;
	margin-top:20px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	text-align: center;
	width:100%;
}
 
#menu a.active {
	color:rgba(255,255,255,0.9);
}
 
#menu a.active:hover {
	color:rgba(255,255,255,0.7);
}

#menu2 {
	width:200px;
	height:auto;
	margin:auto;
	margin-top:10px;
	background-color:#262626;
	border:1px solid gray;
}

#menu2 a {
	font-size: 14px;
	color: white;
	background-color:#262626;
	display: block;
	margin: 0;
	padding: 0;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}
 
#menu2 a:hover {
	background-color:gray;
}
 
#menu2 a.active {
background-color:#000000;

}
 
#menu2 a.active:hover {
background-color:#444444;
}

h1.text {
	color:#C4C4C4;
	font-size: 16px;
	margin-left:5%;
	margin-right:5%;
	margin-top:15px;
	margin-bottom:30px;
	line-height: 23px;
	font-weight:150;
	text-align:left;
}

h1.text_scroll {
	color:#C4C4C4;
	font-size: 14px;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 20px;
	font-weight:100;
	text-align:left;
}

h1.searchAgain {
	color:darkgray;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	font-weight: normal;
}

h1.recenter:first-of-type{
	margin-top:40px;
}

h1.recenter:last-of-type{
	margin-bottom:20px;
}

.circles{
	margin:auto;
	width:90%;
	margin-top:10px;
	margin-bottom: 0px;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  border:1px solid #bbb;
  margin-right:25px;
  margin-bottom:0px;
}

.layers {
	width:30%;
	margin-left:1%;
	margin-right:1%;
	float:left;
	height:100%;
}

#map, .intro {
	transition: opacity 1000ms,
}

.filter #filter, .layers #layers, .display_buttons #population,.display_buttons #populated-places, .display_buttons #states-outline {
	visibility:hidden;
	opacity:0;
	/*-webkit-transition: opacity 600ms, visibility 600ms;*/
  	transition: opacity 1000ms, visibility 1000ms;
}


.filter {
	width:30%;
	margin-left:1%;
	margin-right:1%;
	float:left;
	height:100%;
}



.display_buttons {
	width:16%;
	margin-left:1%;
	margin-right:1%;
	float:left;
	height:100%;
	margin-top:15px;
	align-items: center;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
	background-color:rgba(255, 255, 255, 0.2)!important;
}
.menus1{
	margin-top:10px;
}

.menus {
	margin-top:10px;
}

h1.national {
	margin:auto;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 13px;
	text-align:center;
	color: gray;
	width:auto;
	font-weight:normal;
}

h2.top {
	font-size:10px;
	color:gray;
	margin:auto;
	text-align:center;
}

.introduction {
	border-top: 1px gray solid;
	border-left: 1px gray solid;
	border-bottom: 1px gray solid;
	border-right: 1px gray solid;
	width:90%;
	height:400px;
	background-color:black;
	margin:auto;
	margin-top:350px;
}

h1.recenter {
	border: 1px gray solid;
	padding: 3px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	text-align:center;
	color:gray;
	width:auto;
	max-width:180px;
}

h1.header1 {
	color:#bbb;
	margin: auto;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	margin-top:200px;
	margin-bottom: 30px;
	width:90%;
	font-weight: normal;

}

h1.header2 {
	color:#ffffff;
	margin: auto;
	font-size: 26px;
	text-align: center;
	margin-top:20px;
	margin-bottom: 20px;
	width:95%;
	font-weight: normal;
}

.arrow {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}


.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


h1.byline {
	color:#737373;
	margin:auto;
	font-size: 13px;
	text-align: center;
	margin-top:50px;
	margin-bottom:150px;
}

h1.byline a {
	text-decoration: none;
	color: #737373;
	font-weight:bold;
}

h1.byline a:hover {
	text-decoration: none;
	color: #484848;
}

h2.byline {
	font-size:12px;
	text-align: center;
	margin:auto;
	margin-bottom:25px;
	color:gray;
	max-width:300px;
}

h1.title2 {
	color:white;
	font-size: 28px;
	margin-top:50px;
	text-align: center;
}

h2.subtext {
	color:darkgray;
	font-size: 16px;
	margin:auto;
	text-align:center;
	font-weight:bold;
	margin-top:30px;
}


h3.white_text {
	color: white;
	margin:10px;
}

h4.data_header {
	font-size: 30px;
	color: #9d0606;
	font-weight: bold;
	margin: 10px;
}

h2.table_heading {
	font-size: 12px;
	color:darkgray;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align:left;
	width:90%;
	font-weight:normal;
}

h2.title {
	font-size: 24px;
	color: gray;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-weight:normal;
	width:auto;
}

h3.robo{
	color:white;
	font-size: 14px;
	width:100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:8px;
	text-align: left;
	font-weight: normal;
}

h3.robo_value{
	font-size: 20px;
	width:100%;
	margin:auto;
	margin-bottom:10px;
	text-align: left;
	font-weight: bold;
}

fieldset {
	border: 0;
	text-align:left;
	width:200px;
	margin:auto;
	margin-top:20px;
}
label {
	display: block;
	margin: 5px 0 5px 0;
	color:darkgray;
	font-size:12px;
}

.ui-button{
	background-color:#000000;
	color:white;
	font-size:16px;
	
}

.ui-state-active,.ui-widget-content {
	background:gray;
	border:1px solid black;
}
.ui-selectmenu-button.ui-button{
	width:100%!important;
	background-color:#000000;
	color:white;
	font-size:14px;
}

#comparison-button{
}

.ui-button:hover{
	background-color:#000000;
	color:white;
	font-size:14px;
}
.ui-menu-item{
	background-color:#000000;
	color:white;
	font-size:14px;
}

h2.risk_label {
	font-size: 12px;
	color: white;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	width: 90%;
	max-width: 350px;
}

h2.risk_label2 {
	font-size: 14px;
	color: darkgray;
	margin: auto;
	text-align: left;
}

h4.click_info {
	color:darkgray;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
}

h4.data1 {
	color: gray;
	font-size: 14px;
	margin-bottom: 3px;
	margin-top: 10px;
}

table.labels_left {
	width:50px;
	height:100px;
	margin-left:5px;
	margin-right:10.5%;
	background-color:none;
	float:right;
}

table.labels_left td {
	font-size:10px;
	color:gray;
	text-align:left;
}

table.population {
	width:180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #262626;
}

table.population td {
	width:20%;
}

table.full {
	width: 180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	/*background-image: linear-gradient(to right, white ,black);*/
	background-color: #262626;
}

table.full td {
	width:20%;
}

table.overall {
	width: 180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:0px;
	/*background-image: linear-gradient(to right, white ,black);*/
	background-color: #262626;
}

table.overall td {
	width:20%;
}


table.risk {
	width: 90%;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	/*background-image: linear-gradient(to right, white ,black);*/
	background-color: #262626;
}

table.risk td {
	width:5%;
}

table.risk#sample{
	margin-top: 0px;
	border: none;
}

table.labels2 {
	width: 180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:none;
	text-align: center;
	border: none;
}

table.labels2 td{
	width:33%;
	color: gray;
	font-size: 11px;
	text-align: right;
}

table.labels {
	width: 90%;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #262626;
	text-align: center;
	border: none;
}

table.labels td{
	width:33%;
	color: gray;
	font-size: 11px;
	text-align: right;
}


h4.data3 {
	font-size: 20px;
	color: gray;
	margin: 10px;
	margin-top: 20px;
}

h4.data2 {
	font-size: 24px;
	font-weight: bold;
	color:orange;
	margin-left: 5px;
	margin-bottom: 10px;
}

h4.intro {
	margin: 10px;
	margin-top:20px;
	color: gray;
	font-size: 20px;
}

wn Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media only screen and (min-height: 600px){

    #map {

	}

	#menu {
	}

}

