.mapboxgl-ctrl-geocoder{
	width:95%!important;
	background-color: darkgray!important;
	border: 1px white solid!important;
	color: #000000!important;
	margin: auto;
	margin-top:15px;
	margin-bottom: 20px;
	max-width: 90%!important;
}


.mapboxgl-popup-content {
  padding: 0;
  width: 200px;
  background:#262626!important;
  border: 1px solid gray;
  box-shadow: 3px 3px 2px #000000;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #262626!important;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #262626!important;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #262626!important;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #262626!important;
    }

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  color: #C4C4C4;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  margin-top: -15px;
  font-size:14px;
  text-align:center;
  font-weight:normal;
}

button.mapboxgl-popup-close-button {
	color:gray;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  display: block;
  padding: 0px;
  font-size:16px;
  text-align:center;
  margin-bottom:8px;
  font-weight:bold;
  color:white;
}

.mapboxgl-popup-content h5 {
	font-size:12px;
	text-align:center;
	margin: 0;
  display: block;
  padding: 0px;
  color:#7D7D7D;
  font-weight:normal;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

.left_side{
	width:33%;
	display:block;
	float:left;
	background-color:#262626;
	height:100%;
	position: fixed;
	top:0px;
	left:0px;
	overflow:scroll;
	-ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.left_side::-webkit-scrollbar {
  display: none;
}

p.info {
	color: gray;
	text-align: center;
	font-size: 10px;
	margin-top:25px;
}

.box2 {
	width:90%;
	margin:auto;
}

.information {
	width: 95%;
	margin: auto;
}

.data_wrap {
	margin-bottom: 25px;
}



body {
	font-family: Geneva,Tahoma, Verdana, sans-serif;
	min-height: 600px;
	max-height: 100%;
	overflow:hidden;
}

.mapboxgl-ctrl-geocoder input[type='text']{
	color:black!important;
	font-size:16px!important;
}

input {
	color:white!important;
}

.indicators {
	list-style-type: none;
}

.indicators li {
	color: white;
	margin: 5px;
}

button.landmark {
	background-color:black;
	color:gray;
	margin-top: 5px;
	margin-left: 5px;
}

.button-group {
	width:95%;
	margin-left: 10px;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color:white;
}

h1.text a {
	color:#B7BDBB;
}

h1.text a:hover {
	text-decoration: none;
	color:white;
}

#menu {
	width:200px;
	height:auto;
	position: absolute;
	top:0;
	margin-left:80%;
	margin-top:130px;
	background-color:black;
}

#menu a {
font-size: 13px;
color: gray;
background-color:black;
display: block;
margin: 0;
padding: 0;
padding: 5px;
text-decoration: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
text-align: center;
}
 
#menu a.active {
background-color:#3D3C3C;
}
 
#menu a.active:hover {
background-color:#272727;
}

#menu2 {
	width:200px;
	height:auto;
	margin:auto;
	margin-top:10px;
	background-color:#262626;
	border:1px solid gray;
}

#menu2 a {
	font-size: 16px;
	color: white;
	background-color:#262626;
	display: block;
	margin: 0;
	padding: 0;
	padding: 5px;
	text-decoration: none;
	text-align: center;
}
 
#menu2 a:hover {
	background-color:gray;
}
 
#menu2 a.active {
background-color:#000000;

}
 
#menu2 a.active:hover {
background-color:#444444;
}

h1.text {
	color:#C4C4C4;
	font-size: 16px;
	margin-left:5%;
	margin-right:5%;
	margin-top:15px;
	margin-bottom:30px;
	line-height: 23px;
	font-weight:100;
	text-align:left;
}

h1.text_scroll {
	color:#C4C4C4;
	font-size: 14px;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	margin-bottom:10px;
	line-height: 20px;
	font-weight:100;
	text-align:left;
}

h1.searchAgain {
	color:darkgray;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
	font-weight: normal;
}

h1.recenter:first-of-type{
	margin-top:40px;
}

h1.recenter:last-of-type{
	margin-bottom:20px;
}

.circles{
	margin:auto;
	width:90%;
	margin-top:10px;
	margin-bottom: 0px;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  border:1px solid #bbb;
  margin-right:25px;
  margin-bottom:0px;
}

.menus1{
	margin-top:10px;
}

.menus {
	margin-top:25px;
}

h1.national {
	margin:auto;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align:center;
	color: darkgray;
	width:auto;
	font-weight:normal;
}

h2.top {
	font-size:10px;
	color:gray;
	margin:auto;
	text-align:center;
}

.introduction {
	border-top: 1px gray solid;
	border-left: 1px gray solid;
	border-bottom: 1px gray solid;
	border-right: 1px gray solid;
	width:90%;
	height:400px;
	background-color:black;
	margin:auto;
	margin-top:350px;
}

h1.recenter {
	border: 1px gray solid;
	padding: 3px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	text-align:center;
	color:gray;
	width:auto;
	max-width:180px;
}

h1.header1 {
	color:white;
	margin: auto;
	font-size: 38px;
	line-height: 50px;
	text-align: center;
	margin-top:25px;
	margin-bottom: 10px;
	width:90%;
	font-weight: normal;

}

h1.header2 {
	color:#ffffff;
	margin: auto;
	font-size: 26px;
	text-align: center;
	margin-top:20px;
	margin-bottom: 20px;
	width:95%;
	font-weight: normal;
}


h1.byline {
	color:gray;
	margin:auto;
	font-size: 13px;
	text-align: center;
	margin-top:30px;
	margin-bottom:30px;
}

h1.byline a {
	text-decoration: none;
	color: darkgray;
	font-weight:bold;
}

h1.byline a:hover {
	text-decoration: none;
	color: white;
}

h2.byline {
	font-size:12px;
	text-align: center;
	margin:auto;
	margin-bottom:25px;
	color:gray;
	max-width:300px;
}

h1.title2 {
	color:white;
	font-size: 24px;
	margin-top:50px;
	width:95%;
	text-align: center;
}

h1.title3 {
	color:white;
	font-size: 20px;
	margin-top:20px;
	width:95%;
	text-align: center;
}

h2.subtext {
	color:white;
	font-size: 30px;
	margin-left:10px;
	margin-bottom:15px;
	font-weight:bold;
}


h3.white_text {
	color: white;
	margin:10px;
}

h4.data_header {
	font-size: 30px;
	color: #9d0606;
	font-weight: bold;
	margin: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:active .dropdown-content {
  display: block;
}

h2.table_heading {
	font-size: 12px;
	color:darkgray;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align:left;
	width:90%;
	font-weight:normal;
}

h2.title {
	font-size: 24px;
	color: gray;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	font-weight:normal;
	width:auto;
}

h3.robo{
	color:white;
	font-size: 14px;
	width:100%;
	margin:auto;
	margin-top:20px;
	margin-bottom:8px;
	text-align: left;
	font-weight: normal;
}

h3.robo_value{
	font-size: 20px;
	width:100%;
	margin:auto;
	margin-bottom:10px;
	text-align: left;
	font-weight: bold;
}

fieldset {
      border: 0;
      text-align:left;
      width:80%;
      margin:auto;
    }
    label {
      display: block;
      margin: 10px 0 5px 0;
      color:darkgray;
      font-size:14px;
    }

.ui-button{
	background-color:#000000;
	color:white;
	font-size:16px;
	
}

.ui-state-active,.ui-widget-content {
	background:gray;
	border:1px solid black;
}
.ui-selectmenu-button.ui-button{
	width:100%!important;
	background-color:#000000;
	color:white;
	font-size:16px;
}

#comparison-button{
	background-color: #000000;
	color:white;
	font-size:16px;
}

.ui-button:hover{
	background-color:#000000;
	color:white;
	font-size:16px;
}
.ui-menu-item{
	background-color:#000000;
	color:white;
	font-size:16px;
}

h2.risk_label {
	font-size: 12px;
	color: white;
	margin: auto;
	margin-top: 20px;
	text-align: left;
	width: 90%;
	max-width: 350px;
}

h2.risk_label2 {
	font-size: 14px;
	color: darkgray;
	margin: auto;
	text-align: left;
}

h4.click_info {
	color:darkgray;
	font-size: 14px;
	text-align: center;
	margin-bottom: 15px;
}

h4.data1 {
	color: gray;
	font-size: 14px;
	margin-bottom: 3px;
	margin-top: 10px;
}

table.labels_left {
	width:50px;
	height:100px;
	margin-left:5px;
	margin-right:10.5%;
	background-color:none;
	float:right;
}

table.labels_left td {
	font-size:10px;
	color:gray;
	text-align:left;
}

table.population {
	width:180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #262626;
}

table.population td {
	width:20%;
}

table.overall {
	width: 180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right:0px;
	/*background-image: linear-gradient(to right, white ,black);*/
	background-color: #262626;
}

table.overall td {
	width:20%;
}


table.risk {
	width: 90%;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 2px;
	/*background-image: linear-gradient(to right, white ,black);*/
	background-color: #262626;
}

table.risk td {
	width:5%;
}

table.risk#sample{
	margin-top: 0px;
	border: none;
}

table.labels2 {
	width: 180px;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:none;
	text-align: center;
	border: none;
}

table.labels2 td{
	width:33%;
	color: gray;
	font-size: 11px;
	text-align: right;
}

table.labels {
	width: 90%;
	height: 20px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #262626;
	text-align: center;
	border: none;
}

table.labels td{
	width:33%;
	color: gray;
	font-size: 11px;
	text-align: right;
}


h4.data3 {
	font-size: 20px;
	color: gray;
	margin: 10px;
	margin-top: 20px;
}

h4.data2 {
	font-size: 24px;
	font-weight: bold;
	color:orange;
	margin-left: 5px;
	margin-bottom: 10px;
}

h4.intro {
	margin: 10px;
	margin-top:20px;
	color: gray;
	font-size: 20px;
}

wn Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

