body {
	text-align: justify;
	font-size: 17px;
	margin: auto;
	margin-top: 40px;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	color: rgba(0,0,0,.8);
    font-size: 1.1rem;
    line-height: 1.6;
}
.name {
    font-family: "Korolev",sans-serif,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
.container-large {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.work {
	margin: 40px 0 25px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px #666;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: left;
    clear: both;
    color: #000;
}
.container-small {
	max-width: 420px;
}
.image {
	padding-bottom: 30px;
	max-width: 420px;
	margin: auto;
}
.image img {
	max-width: 100%;
}
.hed {
	font-family: 'Roboto Slab', serif;
	margin-top: 15px;
}
a {
	color: rgba(0,0,0,.8);
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}
a:hover {
	transition: all .25s;
    -webkit-transition: all .25s;
    color: #4591B8;
}
a.icon {
	margin-right: 6px;
}
.fa:hover {
	transition: all .25s;
    -webkit-transition: all .25s;
    color: #4591B8;
}
.fa {
	font-size: 20px !important;
	color: #222;
}
.date {
	margin-bottom: 12px;
	letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 8px;
    white-space: nowrap;
	color: #999;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 12px;

}
.older {
	margin-bottom: 25px;
	text-align: left;
}
. more {
	font-family: "Helvetica Neue",Helvetica,sans-serif; 
}
.resume {
	font-family: Arial, Helvetica, sans-serif;
}
@media(max-width: 420px) {
	.container-large {
		margin: 0 10px;
	}
}

